<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const listItems = document.querySelectorAll('.formatted-number');
    listItems.forEach(item => {
      const number = parseInt(item.textContent, 10);
      item.textContent = number.toLocaleString();
    });
  });
</script>

{% for link in site.data.links %}
  <li>
    <a href="{{ link.url }}">{{ link.name }}</a>
    {% if link.era == "BCE" %}
      (c. <span class="formatted-number">{{ link.year }}</span> BC)
    {% else %}
      ({{ link.year }})
    {% endif %}
  </li>
{% endfor %}
