<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const listItems = document.querySelectorAll('.formatted-number');
    listItems.forEach(item => {
      const number = parseInt(item.textContent, 10);
      item.textContent = number.toLocaleString();
    });
  });
</script>

<ul>
{% for link in site.data.links %}
  <li>
    <a href="{{ link.url }}">{{ link.name }}</a>
    {% if link.era == "BCE" %}
      (c. <span class="formatted-number">{{ link.year }}</span> BC)
    {% else %}
      ({{ link.year }})
    {% endif %}
    {% if link.sublinks %}
      <ul>
      {% for sublink in link.sublinks %}
        <li><a href="{{ sublink.url }}">{{ sublink.name }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endfor %}
</ul>
