<ul>
  {% for sub_anchor in include.sub_anchors %}
  <li>
    <a href="{{ sub_anchor.content-protocol }}://{{ sub_anchor.content-source }}{{ sub_anchor.content }}">{{ sub_anchor.entity }}'s
      {{ sub_anchor.name }}</a>
    {% if sub_anchor.era == "bce" %}
    (c. <span class="formatted-number">{{ sub_anchor.year }}</span> BC)
    {% else %}
    ({{ sub_anchor.year }})
    {% endif %}
    {% if sub_anchor.sub-anchors %}
    {% include sub-anchors.html sub_anchor=sub_anchor.sub-anchors %}
    {% endif %}
  </li>
  {% endfor %}
</ul>
